# Auto detect text files and perform LF normalization
* text=auto

# Shell scripts must always use LF endings (they break with CRLF)
*.sh text eol=lf

# Ignore .html files from Languages pane statistics
*.html linguist-vendored

# Include .Rmd files in Languages pane statistics
*.[Rr]md linguist-detectable
*.[Qq]md linguist-detectable
